<h1>New Entry for <%= @place&.name || "Unknown Place" %></h1>

<%= form_with(model: [@place, @entry], url: place_entries_path(@place), local: true) do |form| %>


  <%= form.hidden_field :place_id, value: @place.id %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, name: "entry[title]" %>  
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, name: "entry[description]" %>  
  </p>

  <p>
    <%= form.label :occurred_on, "Occurred On" %><br>
    <%= form.date_field :occurred_on, name: "entry[occurred_on]" %> 
  </p>

  <p>
    <%= form.submit "Save Entry" %>
  </p>
<% end %>

<%= link_to "Back to Place", place_path(@place) %>
