<h1><%= @place.name %></h1>

<h2>Journal Entries</h2>
<ul>
  <% for entry in @place.entries %>
    <li>
      <h3><a href="<%= place_entry_path(@place, entry) %>"><%= entry.title %></a></h3>
      <p><%= entry.date %></p>
      <p><%= entry.content %></p>
    </li>
  <% end %>
</ul>

<p>
  <a href="<%= new_place_entry_path(@place) %>">Add New Entry</a>
</p>

<p>
  <a href="<%= places_path %>">Back to Places</a>
</p>